body
{
    font-size: 140%;
}

.mainwrapper
{
    padding: 4px;
}

.points
{
    text-align: center;
}

.result
{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.donepanel
{
    margin-bottom: 8px;
}

.donetext
{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 130%;
}

.main
{
    padding-top: 4px;
    font-size: 150%;
}

.document
{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: bold;
    color: #000000;
    background: url(../img/paper.jpg);
    background-size: 100% auto;
    padding: 17px;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 8px;
    /* todo: make it keep its height, once increased */
}

.question
{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

.questiontext
{
    margin-bottom: 0px;
}

.buttons
{
    text-align: center;
}

.button
{
    font-size: 110%;
    margin-bottom: 8px;
    /* todo: fix button stuck pressed on mobile devices */
}

.button:focus
{
    outline: none;
}

.leftbutton
{
    margin-right: 8px;
}

.rightbutton
{
    margin-left: 8px;
}

.banner
{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 8px;
}

.vstext
{
    text-align: center;
}

.explanation
{
    max-width: 800px;
    margin: 0 auto;
}

.jumbotronmod
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer
{
    text-align: right;
}
