body
{
    color: #f8f8f2;
    background-color: #23241f;
    font-size: 110%;
}

a:link    { color: #8F908A }
a:visited { color: #8F908A }
a:hover   { color: #8F908A }
a:active  { color: #8F908A }

.mainwrapper
{
}

.points
{
    margin-top = 10px;
    font-size: 140%;
    text-align: center;
}

.result
{
    font-size: 140%;
    text-align: center;
}

.main
{
    margin: 0 auto;
    width: 800px;
}

.documentwrapper
{
}

.document
{
    font-family: Georgia, serif;
    color: #000000;
    background: url(img/paper.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 130%;
    width: 550px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

.question
{
}

.buttons
{
    text-align: center;
    font-size: 140%;
}

.button
{
    margin: 20px;
    width : 280px;
    height : 60px;
    font-size: 160%;
}

.header
{
    text-align: center;
    font-size: 140%;
}

.headerimage
{
    padding-left: 20px;
    padding-right: 20px;
}

.explanation
{
}

.footer
{
}
